{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus eius nobis ut voluptatum quaerat tenetur ullam esse doloribus iste repellat debitis voluptates porro rerum quia amet, enim omnis. Deleniti?
        Expedita ab aspernatur non ipsa? Nulla molestiae dolore id explicabo, fuga nihil magni tenetur, commodi in eaque quas ipsam asperiores atque. Voluptatibus facilis praesentium voluptate atque laudantium tempora perspiciatis vero?
        Officiis rem, dicta necessitatibus optio officia ut explicabo itaque voluptatum similique eligendi assumenda hic aut quam odio veritatis dolorum ullam blanditiis dolorem quod facere quasi repudiandae fugiat? Aspernatur, pariatur natus.
        Hic id dolore perferendis vel illum maxime numquam, quae aliquam, iste rem exercitationem, qui error explicabo. Fugit adipisci necessitatibus itaque ad ea, cum ratione consequatur asperiores, quis quasi ipsa facere.
        Culpa repellendus doloribus fugiat qui sed minus tempore, reiciendis quae fuga, excepturi amet officiis corrupti impedit fugit libero veniam pariatur modi aliquid voluptates rem dolore unde! Sapiente dolorum similique est!</p>

        <div class="text-center mt-5">
            <a class="btn btn-outline-secondary mx-4 btn-lg" href="/signin">
                Sign In
            </a>
            <a class="btn btn-outline-dark mx-4 btn-lg" href="/signup">
                Sign Up
            </a>
        </div>
        
    </section>
</main>
{% endblock %}